body {
    background-color: rgb(65, 67, 187);
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {color:aquamarine;

} 
/*Este es un comentario en css */
p{
    font-size: 18px;
    color: aquamarine;
} 