body {
    background-color: rgb(15, 19, 221);
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {color: blue;

} 
/*Este es un comentario en css */
p{
    font-size: 18px;
    color: aquamarine;
} 